/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-image: url(assets/move-forward.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: 'Parisienne', cursive, sans-serif;
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  font-weight: 800;
  color: ghostwhite;
  line-height: 1.5;
  letter-spacing: -.003em;
  padding: 5px;
}

#author {
  font-family: 'Caveat', cursive, sans-serif;
  text-align: center;
  font-size: 30px;
}

ul {
  color: ghostwhite;
  margin-top: 350px;
  padding: 20px;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
  font-weight:900;
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color: ghostwhite;
}

a:hover {
  transform: scale(1.5);
  filter: drop-shadow(8px 8px 8px white);
  color: hotpink;
}